#header {
    display: flex;
    background-color:rgb(223, 223, 247);
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.major-container1{
    background: blanchedalmond;
}